.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.layout-content {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  min-height: calc(100vh - 57px);
}
